/* @font-face {
  font-family: 'Oswald';
  font-style: regular;
  font-weight: 400;
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald-Regular.ttf') format('ttf');       
}

@font-face {
  font-family: 'Oswald';
  font-style: semi-bold;
  font-weight: 600;
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald-SemiBold.ttf') format('ttf');       
}

@font-face {
  font-family: 'Oswald';
  font-style: bold;
  font-weight: 700;
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald-Bold.ttf') format('ttf');       
} */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap&subset=cyrillic');

h1 {
  display: block;
  font-size: 150px;
  color: #ffffff;
  margin: 0 auto;
}


body {
  background-image: url(../img/more1.jpg);
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 22px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

a {
  color: #992020;
  text-decoration: underline;
}

.container_content {
  padding: 0 20px;
}

.container {
  width: 1200px;
  margin: 20px auto;
  background-color: #fff;
}

.container2 {
  display: flex;
  width: 1200px;
  height: 546px;
  background-image: url(../img/ali4.jpg);
  margin: 0 auto;
  align-items: center;
}

.main-navigation {
  float: left;
  width: 300px;

}

.main-navigation ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  line-height: 10px;
  height: 70px;
  width: 70px;

}

.main-navigation a {
  display: block;
  text-align: center;
  padding: 30px 10px;
  color: #992020;
  text-decoration: none;
}

.main-navigation a:hover {
  background: rgba(236, 215, 224, 0.54);
  border-radius: 50%;
}

.logo {
  margin-right: 20px;
}

.container_header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  border-top: 5px solid #3b0606;
  padding: 0 20px;

}

.metrika {
  margin: 0 0 0 auto;
}

.video li {
  display: inline-block;
  margin-right: 80px;
}

.video1 iframe {
  padding: 0px 60px 0px 100px;

}

.video2 a {
  display: inline-block;
  padding: 0px 230px;
}

.hello {
  text-align: center;
}

hr {
  border: none;
  background-color: #992020;
  height: 2px;
}

.container_navigation {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.img_down {
  display: flex;
  background: url(../img/icons/down_1.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}


.img_down:hover {
  background: url(../img/icons/down_2.png) no-repeat 50% 50%;
}

.img_up {
  display: flex;
  background: url(../img/icons/up_1.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.img_up:hover {
  background: url(../img/icons/up_2.png) no-repeat 50% 50%;
}

.projects {
  display: flex;
  height: 70px;
  width: 670px;
  justify-content: center;
  align-items: center;
}

.vk {
  display: flex;
  background: url(../img/icons/vk1.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.vk:hover {
  background: url(../img/icons/vk2.png) no-repeat 50% 50%;
}

.youtube {
  display: flex;
  background: url(../img/icons/you1.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.youtube:hover {
  background: url(../img/icons/you2.png) no-repeat 50% 50%;
}

.container_video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container_video_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
}

.container_video a {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}