@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  background-color: #F5F5F5;
  min-width: 1280px;
}

.container_header {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 130px;
  margin: 0 auto;
}

.logotip {
  margin-left: 10px;
}

.container_navigation {
  margin-left: auto;
  margin-right: 10px;
}

.container_navigation a {
  display: flex;
  width: 64px;
  height: 64px;
  background: url(../img/icons/home.png) no-repeat 50% 50%;
}

.container_navigation a:hover {
  background: url(../img/icons/home_hover.png) no-repeat 50% 50%;
}

.container_miniature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container_denomination {
  display: flex;
  height: 600px;
  background-color: #4e1919;
  align-items: center;
  min-width: 1280px;
}

h1 {
  display: block;
  font-size: 150px;
  color: #ffffff;
  margin: 0 auto;
}

h2 {
  font-size: 34px;
  line-height: 36px;
}

.container_hello {
  width: 1280px;
  margin: auto;
}

.container_content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

.container_top {
  display: grid;
  grid-template-columns: 640px 640px;
  margin-bottom: 15px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #4e1919;
  margin: 10px;
  font-size: 16px;
  background-color: #FFFFFF;
}

a {
  color: #4e1919;
  text-decoration: none;
}

a:hover {
  color: #b13232;

}

span {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
}

iframe {
  margin: 0 auto 10px;
}

.container_navigation_up {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.container_navigation_down {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img_down {
  display: flex;
  background: url(../img/icons/down.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
}

.img_down:hover {
  background: url(../img/icons/down_hover.png) no-repeat 50% 50%;
}

.img_up {
  display: flex;
  background: url(../img/icons/up.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;

}

.img_up:hover {
  background: url(../img/icons/up_hover.png) no-repeat 50% 50%;
}

.container_page {
  display: flex;
  justify-content: center;
}

.page_visit_one {
  background: url(../img/icons/page_visit_1.png) no-repeat 50% 50%;
  pointer-events: none;
  width: 60px;
  height: 60px;
}

.page_not_visit_one {
  background: url(../img/icons/page_not_visit_1.png) no-repeat 50% 50%;
  width: 60px;
  height: 60px;
}

.page_visit_one:hover,
.page_not_visit_one:hover {
  background: url(../img/icons/page_hover_1.png) no-repeat 50% 50%;
}

.page_not_visit_two {
  background: url(../img/icons/page_not_visit_2.png) no-repeat 50% 50%;
  width: 60px;
  height: 60px;
}

.page_visit_two {
  background: url(../img/icons/page_visit_2.png) no-repeat 50% 50%;
  pointer-events: none;
  width: 60px;
  height: 60px;
}

.page_not_visit_two:hover,
.page_visit_two:hover {
  background: url(../img/icons/page_hover_2.png) no-repeat 50% 50%;
}

.page_not_visit_three {
  background: url(../img/icons/page_not_visit_3.png) no-repeat 50% 50%;
  width: 60px;
  height: 60px;
}

.page_visit_three {
  background: url(../img/icons/page_visit_3.png) no-repeat 50% 50%;
  pointer-events: none;
  width: 60px;
  height: 60px;
}

.page_not_visit_three:hover,
.page_visit_three:hover {
  background: url(../img/icons/page_hover_3.png) no-repeat 50% 50%;
}

.page_not_visit_four {
  background: url(../img/icons/page_not_visit_4.png) no-repeat 50% 50%;
  width: 60px;
  height: 60px;
}

.page_visit_four {
  background: url(../img/icons/page_visit_4.png) no-repeat 50% 50%;
  pointer-events: none;
  width: 60px;
  height: 60px;
}

.page_not_visit_four:hover,
.page_visit_four:hover {
  background: url(../img/icons/page_hover_4.png) no-repeat 50% 50%;
}

.page_not_visit_five {
  background: url(../img/icons/page_not_visit_5.png) no-repeat 50% 50%;
  width: 60px;
  height: 60px;
}

.page_visit_five {
  background: url(../img/icons/page_visit_5.png) no-repeat 50% 50%;
  pointer-events: none;
  width: 60px;
  height: 60px;
}

.page_not_visit_five:hover,
.page_visit_five:hover {
  background: url(../img/icons/page_hover_5.png) no-repeat 50% 50%;
}

footer {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 130px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
}

.email {
  width: 200px;
  margin-left: 10px;
}

.projects {
  display: flex;
}

.metrika {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  margin-right: 10px;
}

.vk {
  display: flex;
  background: url(../img/icons/vk.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.vk:hover {
  background: url(../img/icons/vk_hover.png) no-repeat 50% 50%;
}

.video {
  display: flex;
  background: url(../img/icons/video.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.video:hover {
  background: url(../img/icons/video_hover.png) no-repeat 50% 50%;
}

.youtube {
  display: flex;
  background: url(../img/icons/youtube.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.youtube:hover {
  background: url(../img/icons/youtube_hover.png) no-repeat 50% 50%;
}


@media only screen and (max-device-width : 500px) {
  .container_top {
    grid-template-columns: auto;
  }

  h2 {
    font-size: 38px;
    line-height: 40px;
  }

  iframe {
    width: 950px;
    height: 534px;
  }

  span {
    font-size: 24px;
    margin-bottom: 20px;
  }

  section img {
    width: 400px;
  }
}

@media only screen and (max-device-width : 850px) {
  .container_top {
    grid-template-columns: auto;
  }

  h2 {
    font-size: 38px;
    line-height: 40px;
  }

  iframe {
    width: 950px;
    height: 534px;
  }

  span {
    font-size: 24px;
    margin-bottom: 20px;
  }

  section img {
    width: 400px;
  }
}