@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  background-color: #f0e7e7;
}

.container_header {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 130px;
  margin: 0 auto;
}

.logotip {
  margin-left: 10px;
}

.container_navigation {
  margin-left: auto;
  margin-right: 10px;
}

.container_navigation a {
  display: flex;
  width: 64px;
  height: 64px;
  background: url(../img/icons/home.png) no-repeat 50% 50%;
}

.container_navigation a:hover {
  background: url(../img/icons/home_hover.png) no-repeat 50% 50%;
}

.container_miniature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container_denomination {
  display: flex;
  height: 600px;
  background-color: #4e1919;
  align-items: center;
  min-width: 1280px;
}

h1 {
  display: block;
  font-size: 150px;
  color: #ffffff;
  margin: 0 auto;
}

.container_hello {
  width: 1280px;
  margin: auto;
}

.container_content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

.container_top {
  display: grid;
  grid-template-columns: 640px 640px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #4e1919;
  margin: 10px;
  border-radius: 30px;
  font-size: 18px;
  background-color: white;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #4e1919;
  margin: 10px;
  border-radius: 30px;
  font-size: 18px;
  background-color: white;
}

a {
  color: #4e1919;
  text-decoration: none;
}

h3:hover {
  color: #b13232;

}

.container_navigation_up {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.container_navigation_down {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.img_down {
  display: flex;
  background: url(../img/icons/down.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.img_down:hover {
  background: url(../img/icons/down_hover.png) no-repeat 50% 50%;
}

.img_up {
  display: flex;
  background: url(../img/icons/up.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.img_up:hover {
  background: url(../img/icons/up_hover.png) no-repeat 50% 50%;
}

footer {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 130px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
}

.email {
  margin-left: 10px;
}

.projects {
  display: flex;
  width: 290px;
}

.metrika {
  margin-right: 10px;
}

.vk {
  display: flex;
  background: url(../img/icons/vk.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.vk:hover {
  background: url(../img/icons/vk_hover.png) no-repeat 50% 50%;
}

.video {
  display: flex;
  background: url(../img/icons/video.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.video:hover {
  background: url(../img/icons/video_hover.png) no-repeat 50% 50%;
}

.youtube {
  display: flex;
  background: url(../img/icons/youtube.png) no-repeat 50% 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.youtube:hover {
  background: url(../img/icons/youtube_hover.png) no-repeat 50% 50%;
}

@media only screen and (max-device-width : 500px) {
  .container_top {
    grid-template-columns: auto;
  }

  h2 {
    font-size: 38px;
    line-height: 40px;
  }

  iframe {
    width: 950px;
    height: 534px;
  }
}
